# Protecting the code owner file from any changes
/.github/CODEOWNERS @adrianmichalke @alepping @Artraxon @keyseven123 @ls-1801 @yschroeder97

# The maintainers are the default owners for everything in the repo. Unless a later match takes precedence, one of
# the maintainers will be request review when someone opens a pull request.
* @adrianmichalke @alepping @Artraxon @keyseven123 @ls-1801 @yschroeder97

## We set here owners for each folder that usually encapsulates one or more components.
## We aim for having at least two persons per folder to have a little bit of a redundancy.
/docker/ @keyseven123 @ls-1801
/grpc/ @ls-1801 @adrianmichalke
/nes-common/ @keyseven123 @adrianmichalke
/nes-configurations/ @adrianmichalke @ls-1801
/nes-data-types/ @alepping @adrianmichalke @ls-1801
/nes-executable/ @alepping @keyseven123 @ls-1801
/nes-physical-operators/ @keyseven123 @adrianmichalke
/nes-input-formatters/ @alepping @yschroeder97 @keyseven123
/nes-memory/ @ls-1801 @alepping @Artraxon
/nes-nautilus/ @alepping @keyseven123 @ls-1801
/nes-nebuli/ @ls-1801 @Artraxon @alepping
/nes-logical-operators/ @adrianmichalke @alepping @keyseven123
/nes-query-compiler/ @alepping @keyseven123 @adrianmichalke
/nes-query-optimizer/ @adrianmichalke @Artraxon
/nes-plugins/ @alepping @yschroeder97
/nes-query-engine/ @ls-1801 @keyseven123
/nes-runtime/ @keyseven123 @ls-1801 @adrianmichalke
/nes-single-node-worker/ @alepping @adrianmichalke @ls-1801
/nes-sinks/ @alepping @yschroeder97
/nes-sources/ @alepping @yschroeder97
/nes-sql-parser/ @Artraxon @adrianmichalke @keyseven123
/nes-systests/ @adrianmichalke @ls-1801
/scripts/ @keyseven123 @ls-1801
/vcpkg/ @keyseven123 @ls-1801 @adrianmichalke


# We  set here the ownership specific files or folders. This will be populated in the future
/docs/watermarking_progress_window_triggering.md @keyseven123 @alepping
