# Protecting the code owner file from any changes
/.github/CODEOWNERS @adrianmichalke @alepping @Artraxon @keyseven123 @ls-1801 @yschroeder97

# The maintainers are the default owners for everything in the repo. Unless a later match takes precedence, one of
# the maintainers will be request review when someone opens a pull request.
* @nebulastream/Maintainer

## We set here owners for each folder that usually encapsulates one or more components.
## We aim for having at least two persons per folder to have a little bit of a redundancy.
/docker/ @nebulastream/DevOps
/.github/ @nebulastream/DevOps
/scripts/ @nebulastream/DevOps
/vcpkg/ @nebulastream/DevOps

/nes-common/ @nebulastream/Maintainer
/nes-configurations/ @nebulastream/Maintainer

/grpc/ @nebulastream/QuerySubmission
/nes-data-types/ @nebulastream/QuerySubmission
/nes-frontend/ @nebulastream/QuerySubmission
/nes-sql-parser/ @nebulastream/QuerySubmission

/nes-physical-operators/ @nebulastream/Execution
/nes-nautilus/ @nebulastream/Execution
/nes-query-compiler/ @nebulastream/Execution


/nes-memory/ @nebulastream/Memory
/nes-runtime/ @nebulastream/Runtime
/nes-single-node-worker/ @nebulastream/Runtime


/nes-logical-operators/ @nebulastream/QueryOptimizer
/nes-query-optimizer/ @nebulastream/QueryOptimizer

/nes-plugins/ @nebulastream/Plugins

/nes-executable/ @nebulastream/QueryEngine
/nes-query-engine/ @nebulastream/QueryEngine

/nes-input-formatters/ @nebulastream/InputOutput
/nes-sinks/ @nebulastream/InputOutput
/nes-sources/ @nebulastream/InputOutput

/nes-systests/ @nebulastream/Testing


# We  set here the ownership specific files or folders. This will be populated in the future
/docs/watermarking_progress_window_triggering.md @keyseven123 @alepping
