###
### General configuration
###
logLevel: {{ log_level }}

###
### Network configuration
###
localWorkerIp: {{ local_worker_ip }}
coordinatorIp: {{ default_pi_master_ip }}
coordinatorPort: {{ default_coordinator_ports[1] }}

# Set RPC server port of NES Worker
rpcPort: {{ default_worker_ports[0] }}
# Set the data port of the NES Worker
dataPort: {{ default_worker_ports[1] }}

###
### Physical source configuration
###
physicalSources:
        - logicalSourceName: sensors
          physicalSourceName: sensors_{{ local_worker_ip }}
          type: MQTT_SOURCE
          configuration:
              url: ws://{{ default_pi_master_ip }}:9001
              clientId: admin_qrs
              inputFormat: CSV
              topic: benchmark
              userName: admin
              cleanSession: true
              flushIntervalMS: 100
