services:
  worker-1:
    healthcheck:
      test: [ "CMD-SHELL", "/bin/grpc_health_probe", '-addr', 'localhost:8080' ]
    command: [ "--grpc=0.0.0.0:8080", "--bind=0.0.0.0:9090", "--connection=0.0.0.0:9090" ]
    image: nebulastream/nes-worker:distributed
    build:
      context: ..
      dockerfile: docker/single-node-worker/SingleNodeWorker.dockerfile
      args:
        - TAG=ls-distributed-poc

  worker-2:
    healthcheck:
      test: [ "CMD-SHELL", "/bin/grpc_health_probe", '-addr', 'localhost:8080' ]
    command: [ "--grpc=0.0.0.0:8081" , "--bind=0.0.0.0:9092", "--connection=0.0.0.0:9091" ]
    image: nebulastream/nes-worker:distributed
    build:
      context: ..
      dockerfile: docker/single-node-worker/SingleNodeWorker.dockerfile
      args:
        - TAG=ls-distributed-poc

  nebuli:
    depends_on:
      - worker-1
      - worker-2
    image: nebulastream/nes-nebuli:distributed
    entrypoint: [ 'usr/bin/nes-nebuli', 'register', '-x', 'query.yaml' ]
    build:
      context: ..
      dockerfile: docker/nebuli/Nebuli.dockerfile
      args:
        - TAG=ls-distributed-poc
