html,
body {
  height: 100%;
  font-family: 'DIN Next W01 Regular', sans-serif;
}

#text-analytics-video-modal {
  height: 77%;
  background-color: #0d0027;
}
#text-analytics-video-modal .modal-content {
  border: 0;
}
#text-analytics-video-modal button.close {
  position: absolute;
  top: .15em;
  right: 0.3em;
  color: white;
  font-weight: lighter;
  font-size: 6em;
  z-index: 100;
  opacity: 1;
}
#text-analytics-video-modal #content-layer {
  position: absolute;
  top: 12em;
  width: 100%;
  color: white;
  z-index: 10;
}
#text-analytics-video-modal #content-layer #content-box {
  width: 55em;
  margin: auto;
  text-align: left;
}
#text-analytics-video-modal #content-layer #content-box .btn-group {
  width: 100%;
}
#text-analytics-video-modal #content-layer #content-box .btn-group button {
  color: white;
  background: none;
  width: inherit;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  text-align: left;
}
#text-analytics-video-modal #content-layer #content-box .btn-group button .label {
  font-size: 1.3em;
}
#text-analytics-video-modal #content-layer #content-box .btn-group button .caret {
  position: absolute;
  top: 45%;
  right: 1%;
}
#text-analytics-video-modal #content-layer #content-box .btn-group .dropdown-menu {
  color: white;
  background: none;
  width: 55em;
  margin-top: 2em;
}
#text-analytics-video-modal #content-layer #content-box .btn-group .dropdown-menu li {
  margin-bottom: 1em;
}
#text-analytics-video-modal #content-layer #content-box .btn-group .dropdown-menu li a {
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#text-analytics-video-modal #content-layer #content-box .btn-group .dropdown-menu li a:hover {
  background-color: darkgrey;
}
#text-analytics-video-modal #background {
  height: inherit;
  text-align: center;
  background-color: #0b0126;
}
#text-analytics-video-modal #background img#frame-background {
  width: 100%;
  margin-top: 49px;
  transform: scale(1, 1.067);
}
#text-analytics-video-modal #background video#video-background {
  width: 100%;
  margin-top: 49px;
  display: none;
  transform: scale(1, 1.067);
}
#aitc-banner {
  text-align: center;
  font-size: 1.5em;
  display: none;
}
#map-canvas {
  font-family: 'DIN Next W01 Regular', sans-serif;
  width: 100%;
  height: 100%;
}
#map-canvas a:link,
#map-canvas a:visited,
#map-canvas a:hover {
  color: #ff0218;
}
#map-canvas a:hover {
  text-decoration: underline;
}
#map-canvas .leaflet-popup-close-button {
  display: none;
}
#map-canvas .leaflet-popup {
  margin-bottom: -18px;
  margin-left: -5px;
}
#map-canvas .leaflet-popup.Company {
  display: none;
}
#map-canvas .leaflet-popup .leaflet-popup-content {
  padding: 1em;
  background-color: #f6f6f6;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow {
  width: 30em;
  position: relative;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow span.cycle-backward,
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow span.cycle-forward {
  color: #ff0218;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow span.cycle-status {
  color: #aaaaaa;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-title {
  font-size: 18px;
  font-weight: bold;
  width: 360px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow p {
  width: 360px;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-source {
  border-top: 1px solid #eee;
  color: #aaaaaa;
  height: auto;
  line-height: 12px;
  font-size: 10px;
  padding-top: 10px;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-source:before {
  content: '';
  width: 10px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  background-position: bottom left;
  /*width: 3em;
                        height: 3em;
                        position: absolute;
                        left: -1.5em;
                        top: -1.5em;*/
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-content.popup-box-content-long {
  max-height: 20em;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  line-height: 20px;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-content.popup-box-content-long span {
  border-bottom: 2px solid transparent;
  line-height: 18px;
  display: inline-block;
  position: relative;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-content.popup-box-content-long span:after {
  border-bottom: 2px solid transparent;
  position: absolute;
  bottom: 0px;
  content: " ";
  left: 0;
  width: 100%;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-content.popup-box-content-long span.entity-osm {
  border-color: #EAAC21;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-content.popup-box-content-long span.entity-db-stops {
  border-color: #2B3990;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-content.popup-box-content-long span.entity-db-routes {
  border-color: #92278F;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-content.popup-box-content-long span.entity-wikipedia {
  border-color: #27AAE1;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-content.popup-box-content-long span.entity-gcd {
  border-color: #34C181;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-content.popup-box-content-long span.entity-time {
  border-color: #F47731;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-content.popup-box-content-long span.relation-annotation {
  color: #ff0218;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow.twitter .popup-box-source:before {
  background: url('../images/icons/sources/icon_src_twitter.svg') no-repeat;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow.news .popup-box-source:before {
  background: url('../images/icons/sources/icon_src_news.svg') no-repeat;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow.train .popup-box-source:before {
  background: url('../images/icons/sources/icon_src_db.svg') no-repeat;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow.traffic .popup-box-source:before {
  background: url('../images/icons/sources/icon_src_trafficservice.svg') no-repeat;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow.police .popup-box-source:before {
  background: url('../images/icons/sources/icon_src_police.svg') no-repeat;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-show-more {
  text-align: right;
  float: right;
  display: block;
  font-size: 10px;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-show-more a {
  cursor: pointer;
  background-color: #ff0218;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .popup-box-show-more a:hover {
  text-decoration: none;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db {
  margin: 0;
  padding: 0;
  list-style: none;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db.detail li a {
  transform: scale(1);
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db.detail li a span {
  display: block;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li {
  position: absolute;
  display: block;
  right: -95px;
  top: 100%;
  z-index: 9999;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li a {
  border-radius: 100px;
  height: 20px;
  width: 20px;
  background-color: #ff0218;
  display: block;
  position: relative;
  border: 2px solid #ff0218;
  transform: scale(0.5);
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li a:before {
  content: " ";
  border: 4px solid #fff;
  border-radius: 100px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li a span {
  display: none;
  position: absolute;
  bottom: 55%;
  left: 110%;
  white-space: nowrap;
  background-color: #fff;
  padding: 2px 5px;
  border-radius: 10%;
  box-shadow: 0 0 40px white, 0 0 40px white;
  z-index: -10;
  background-color: rgba(255, 255, 255, 0.7);
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li.entity-wikipedia a {
  background-color: #27AAE1;
  color: #27AAE1;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li.entity-osm a {
  background-color: #EAAC21;
  color: #EAAC21;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li.entity-db-routes a {
  background-color: #92278F;
  color: #92278F;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li.entity-db-stops a {
  background-color: #2B3990;
  color: #2B3990;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li.entity-gcd a {
  background-color: #34C181;
  color: #34C181;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li.entity-time a {
  background-color: #F47731;
  color: #F47731;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li:nth-child(1) {
  margin: 0px 2px 0 0;
  bottom: 60%;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li:nth-child(2) {
  margin: 25px -19px 0 0px;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li:nth-child(3) {
  margin: 59px -18px 0 0px;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li:nth-child(3) a span {
  left: 115%;
  bottom: 15%;
  right: auto;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li:nth-child(4) {
  margin: 84px 5px 0 0px;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li:nth-child(4) a span {
  left: 115%;
  top: 5%;
  right: auto;
  bottom: auto;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li:nth-child(5) {
  margin: 88px 41px 0 0px;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li:nth-child(5) a span {
  bottom: auto;
  top: 45%;
  left: auto;
  right: 115%;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li:nth-child(6) {
  margin: 68px 68px 0 0px;
}
#map-canvas .leaflet-popup .leaflet-popup-content .infowindow .sources-db li:nth-child(6) a span {
  bottom: auto;
  top: 5%;
  left: auto;
  right: 115%;
}
#map-canvas .leaflet-popup .leaflet-popup-tip-container {
  width: 100px;
  height: 100px;
  margin-left: calc(100% + -6px);
  margin-top: -13px;
  border-top: none;
  border-left: none;
  border-radius: 200px;
  box-shadow: 0 1px 100px #ffffff, 0 1px 100px #ffffff;
  background: url('../images/event_circle_background.svg') no-repeat;
}
#map-canvas .leaflet-popup .leaflet-popup-tip-container .leaflet-popup-tip {
  position: fixed;
  width: 2px;
  height: 30px;
  background-color: #ff0218;
  transform: skew(50deg);
  border: none;
  margin: 12px 0 0 22px;
  z-index: 9999;
}
#map-canvas .leaflet-popup-content-wrapper {
  border-bottom: solid 0.15em #ff0218;
  border-radius: 0;
  background: transparent;
  padding: 0;
  box-shadow: 0 1px 100px #ffffff;
  position: relative;
  z-index: 9999;
}
#map-canvas .leaflet-marker-icon.markerCluster {
  font-size: 2em;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto !important;
  min-width: 30px;
  padding: 3px 5px 0 5px;
  background-image: url('../images/icons/other/icon_eventstack.svg');
  background-repeat: no-repeat;
}
#map-canvas .leaflet-marker-icon.markerCluster .markerClusterLabel {
  position: relative;
  font-size: 0.7em;
  left: 0.15em;
  top: -0.19em;
  background-color: red;
  border-radius: 0.6em;
  padding: 0.1em 0.1em 0.04em 0.04em;
}
#map-canvas aside.right {
  position: absolute;
  top: 6em;
  right: 0;
  margin: auto 0;
  z-index: 500;
  font-size: 2em;
}
#map-canvas aside.right .btn-circle {
  text-align: center;
  font-size: 1em;
  color: white;
  line-height: 100%;
  border-radius: 50% 0 0 50%;
  width: 2em;
  height: 2em;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  border: 0;
  margin-bottom: 2px;
}
#map-canvas aside.right .btn-circle.btn-play {
  background-color: rgba(80, 190, 237, 0.85);
}
#map-canvas aside.right .btn-circle.btn-play img {
  height: 1.37em;
}
#map-canvas aside.right .btn-black {
  background-color: black;
  width: 4em;
  margin-left: 35%;
  margin-right: 35%;
}
#map-canvas aside.right .btn-black:active {
  background-color: #333333;
}
.side-popup,
aside.popup-content,
aside.popup-content-company {
  display: none;
  width: 36%;
  position: absolute;
  top: 0;
  z-index: 20;
  box-shadow: 0 0 44px #999999;
}
aside.popup-content {
  background-color: #fff;
}
aside.popup-content .description {
  height: 25%;
  background-color: #ff0218;
}
aside.popup-content .description .icon {
  text-align: center;
  margin: 2em 0;
}
aside.popup-content .description .icon img {
  height: 10em;
}
aside.popup-content .description button,
aside.popup-content-company div.flex-wrapper .description button {
  font-size: 4em;
  width: 1em;
  color: #fff;
  opacity: 1;
  font-weight: lighter;
  position: absolute;
  right: 4px;
  top: 4px;
}
aside.popup-content .description button img {
  width: 1em;
}
aside.popup-content .description h2 {
  font-size: 2em;
  line-height: 1.2em;
  text-align: center;
  color: #fff;
  padding: 0 0.5em 1em;
}
aside.popup-content .description .companyDescription th {
  font-weight: bold;
}
aside.popup-content .impacts {
  background-color: #fff;
}
aside.popup-content .impacts *:first-child {
  margin-top: 0;
}
aside.popup-content .impacts h3 {
  color: #ff0218;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  padding-top: 1em;
}
aside.popup-content .impacts .list .element {
  padding: 2em 2em 2em 6em;
  cursor: pointer;
}
aside.popup-content .impacts .list .element:not(:last-child) {
  border-bottom: solid #cccccc thin;
}
aside.popup-content .impacts .list .element .event {
  font-weight: bold;
  margin-bottom: 0;
}
aside.popup-content .impacts .list .element .event .ar-right {
  float: right;
  width: 2em;
}
aside.popup-content .impacts .list .element .company {
  color: #999999;
}
aside.popup-content .impacts .list .element .glyphicon-menu-right {
  float: right;
  color: #999999;
  line-height: inherit;
}
aside.popup-content .impacts .list .element:before {
  content: '';
  background: url('../images/icons/problems/icon_problem_supplychain.svg') no-repeat;
  width: 3em;
  height: 3em;
  position: absolute;
  left: 1em;
}
aside.popup-content-company {
  background-color: #fff;
  z-index: 20;
  display: none;
  height: 77%;
}
aside.popup-content-company div.flex-wrapper {
  height: 100%;
  flex-direction: column;
  display: flex;
}
aside.popup-content-company div.flex-wrapper > * {
  padding: 0 1em;
}
aside.popup-content-company div.flex-wrapper .description {
  background-color: #ededed;
  color: black;
  padding: 4.5em 1em 3em 1em;
}
aside.popup-content-company div.flex-wrapper .description img#logo {
  height: 4em;
  max-width: 15em;
}
aside.popup-content-company div.flex-wrapper .description .companyDescription {
  font-size: small;
  color: black;
}
aside.popup-content-company div.flex-wrapper .description .companyDescription a {
  color: black;
  text-decoration: underline;
  padding-left: 1em;
}
aside.popup-content-company div.flex-wrapper .description .companyDescription a:hover {
  color: black;
}
aside.popup-content-company div.flex-wrapper .description h2 {
  padding: 0;
}
aside.popup-content-company div.flex-wrapper .content {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding-bottom: 2em;
  padding-top: 1em;
  flex: 1 1 auto;
}
aside.popup-content-company div.flex-wrapper .content .section *:first-child {
  margin-top: 0;
}
aside.popup-content-company div.flex-wrapper .content .section .section-header {
  cursor: pointer;
  border-bottom: thin solid #666666;
}
aside.popup-content-company div.flex-wrapper .content .section .section-header h3:after {
  font-family: 'Glyphicons Halflings';
  content: "\e260";
  float: right;
}
aside.popup-content-company div.flex-wrapper .content .section .section-header.collapsed h3:after {
  content: "\e259";
}
aside.popup-content-company div.flex-wrapper .content .section .section-header h3 {
  text-align: start;
  font-size: large;
  padding-top: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
aside.popup-content-company div.flex-wrapper .content .section#companyInfo .section-body {
  margin: 1em;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .company {
  color: #999999;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body:before {
  display: none;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .glyphicon-menu-right {
  float: right;
  color: #999999;
  line-height: inherit;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body:not(:last-child) {
  border-bottom: solid #cccccc thin;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .element {
  margin: 1em;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .element .event {
  margin: 0.5em 0;
  cursor: pointer;
  font-size: large;
  height: 2em;
  line-height: 2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .element .event .ar-right {
  float: right;
  width: 2em;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .element .post-title {
  margin: 0;
  font-size: large;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .element .post-source {
  color: #666666;
  font-size: small;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body img {
  width: 2em;
  margin-right: 1em;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .companyInfoRow {
  padding: 0.2em 0;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .companyInfoRow .companyInfoKey {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .companyInfoRow .companyInfoValue {
  word-wrap: break-word;
}
aside.popup-content-company div.flex-wrapper .content .section .section-body .companyInfoRow .companyInfoValue ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.modal-dialog .modal-content {
  height: 100%;
  border-radius: 0;
  overflow-y: hidden;
}
.modal-dialog .modal-content .modal-header {
  background-color: #999999;
  font-size: 3em;
  text-align: center;
  color: #fff;
}
.modal-dialog .modal-content .modal-header .close {
  color: #fff;
  font-size: 2em;
  font-weight: lighter;
  opacity: 1;
  margin-top: -0.15em;
}
.modal-dialog .modal-content .modal-body {
  height: 95%;
  padding: 0;
}
.modal-dialog .modal-content .modal-body video {
  width: 100%;
}
.modal-dialog .modal-content .modal-body iframe {
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.toggle-btn-group label.btn-primary {
  border: 1px solid transparent !important;
  background-color: rgba(100, 100, 100, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.toggle-btn-group label.btn-primary:hover {
  background-color: rgba(126, 126, 126, 0.3);
}
.toggle-btn-group label.btn-primary.active {
  background-color: rgba(100, 100, 100, 0.9);
  font-weight: 800;
  letter-spacing: 0.05em;
}
.toggle-btn-group label.btn-primary.active:hover {
  background-color: rgba(126, 126, 126, 0.9);
}
.c-menu--slide-left .c-menu__item.mode-switcher .map-mode-btn-group {
  width: 80%;
}
.c-menu--slide-left .c-menu__item.mode-switcher .map-mode-btn-group label.btn-primary {
  width: 50%;
  border: 1px solid transparent !important;
  background-color: rgba(100, 100, 100, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.c-menu--slide-left .c-menu__item.mode-switcher .map-mode-btn-group label.btn-primary:hover {
  background-color: rgba(126, 126, 126, 0.3);
}
.c-menu--slide-left .c-menu__item.mode-switcher .map-mode-btn-group label.btn-primary.active {
  background-color: rgba(100, 100, 100, 0.9);
  font-weight: 800;
  letter-spacing: 0.05em;
}
.c-menu--slide-left .c-menu__item.mode-switcher .map-mode-btn-group label.btn-primary.active:hover {
  background-color: rgba(126, 126, 126, 0.9);
}
.c-menu {
  position: fixed;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s;
}
.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}
#o-wrapper {
  height: 100%;
}
/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  background-color: transparent;
  font-size: 14px;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  float: right;
  padding: 0;
}
/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}
/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}
/**
 * Mask component
 */
.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--slide-right,
  .c-menu--push-left,
  .c-menu--push-right {
    width: 300px;
  }
}
.c-menu--slide-left .c-menu__item,
.c-menu--slide-right .c-menu__item,
.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item {
  display: block;
  text-align: left;
  padding-bottom: 1em;
}
.popup-section.c-menu__item {
  padding-bottom: 3em;
}
.popup-section.c-menu__item .c-menu__link.nopad {
  padding: 24px 0 0 0;
}
.popup-section.c-menu__item .c-menu__link {
  padding: 0.6em 0 0 0;
  outline: none;
}
.c-menu--slide-left .c-menu__item:first-child,
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child {
  border-top: none;
}
.c-menu--slide-left .c-menu__item:last-child,
.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-left .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child {
  border-bottom: none;
}
.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link {
  display: block;
  padding: 12px 0;
  color: #fff;
  text-decoration: none;
}
.c-menu--slide-left .c-menu__link.nopad,
.c-menu--slide-right .c-menu__link.nopad,
.c-menu--push-left .c-menu__link.nopad,
.c-menu--push-right .c-menu__link.nopad {
  padding: 12px 0 0 0;
}
.c-menu--slide-left .c-menu__link_no_block,
.c-menu--slide-right .c-menu__link_no_block,
.c-menu--push-left .c-menu__link_no_block,
.c-menu--push-right .c-menu__link_no_block {
  padding: 12px 0;
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  text-decoration: none;
}
.c-menu--slide-left .c-menu__link_no_block.nopad,
.c-menu--slide-right .c-menu__link_no_block.nopad,
.c-menu--push-left .c-menu__link_no_block.nopad,
.c-menu--push-right .c-menu__link_no_block.nopad {
  padding: 12px 0 0 0;
}
.c-menu--slide-left,
.c-menu--push-left {
  top: 0;
  left: 0em;
  transform: translateX(-100%);
  padding: 1em;
}

@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--push-left {
    transform: translateX(-40em);
  }
}
.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
  transform: translateX(0);
}
#c-button--slide-left {
  font-size: 1.5em;
  color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  line-height: 1em;
  height: 2em;
  width: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 500;
  padding: 0;
}
.heatmapRangeSlider {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px 120px 20px 40px;
  background: white;
  box-shadow: 1em 0 10em lightgrey;
}
.heatmapRangeSlider.with-spinner {
  box-shadow: none;
}
.heatmapRangeSlider .heatmapScale {
  width: 20%;
  margin-left: 10%;
  float: left;
  white-space: nowrap;
  overflow: hidden;
}
.heatmapRangeSlider .heatmapScale .heatmap-scale-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.heatmapRangeSlider .heatmapScale .heatmap-scale-text {
  font-size: 16px;
}
.heatmapRangeSlider .heatmapScale .heatmap-scale-lightblue {
  background: url('../images/icons/ui/historic/kreis-hellblau.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.heatmapRangeSlider .heatmapScale .heatmap-scale-blue {
  background: url('../images/icons/ui/historic/kreis-blau.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.heatmapRangeSlider .heatmapScale .heatmap-scale-purple {
  background: url('../images/icons/ui/historic/kreis-lila.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.heatmapRangeSlider .heatmapScale .heatmap-scale-red {
  background: url('../images/icons/ui/historic/kreis-rot.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.heatmapRangeSlider .slider-container {
  float: right;
  width: 60%;
}
.heatmapRangeSlider .slider-container .irs .irs .irs-line {
  background: #EEE;
  border: none;
  height: 22px;
  top: 22px;
  width: 110%;
}
.heatmapRangeSlider .slider-container .irs .irs .irs-line .irs-line-left,
.heatmapRangeSlider .slider-container .irs .irs .irs-line .irs-line-mid,
.heatmapRangeSlider .slider-container .irs .irs .irs-line .irs-line-right {
  display: none;
}
.heatmapRangeSlider .slider-container .irs .irs .irs-from,
.heatmapRangeSlider .slider-container .irs .irs .irs-to,
.heatmapRangeSlider .slider-container .irs .irs .irs-single {
  top: -10px;
}
.heatmapRangeSlider .slider-container .irs .irs-grid :nth-child(8n + 6),
.heatmapRangeSlider .slider-container .irs .irs-grid :nth-child(8n + 8) {
  display: none;
}
.heatmapRangeSlider .slider-container .irs .irs-grid .irs-grid-pol {
  background: #aaaaaa;
  height: 16px;
}
.heatmapRangeSlider .slider-container .irs .irs-grid .irs-grid-pol.small {
  height: 16px;
}
.heatmapRangeSlider .slider-container .irs .irs-grid .irs-grid-text {
  color: #aaaaaa;
  top: 18px;
}
.heatmapRangeSlider .slider-container .irs .irs-bar {
  background: linear-gradient(#ff0218, #d80000);
  border: none;
  height: 22px;
  top: 22px;
}
.heatmapRangeSlider .slider-container .irs .irs-slider {
  border: 1px solid #ff0218;
  background: white;
  width: 40px;
  height: 40px;
  top: 13px;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
}
.heatmapRangeSlider .slider-container .irs .irs-from,
.heatmapRangeSlider .slider-container .irs .irs-to,
.heatmapRangeSlider .slider-container .irs .irs-single {
  color: #ff0218;
  background: none;
}
.heatmapRangeSlider .slider-container button#refreshHeatmap {
  display: none;
  color: white;
  background-color: black;
  border-radius: 20px;
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  width: 90px;
  font-size: 1.4em;
  position: absolute;
  top: 37px;
  right: 10px;
  border: 5px solid white;
}
#heatmapRange {
  position: absolute;
  width: 60%;
  left: 0;
  right: 0;
  overflow: hidden;
}
.leaflet-bottom,
.leaflet-top {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
#c-menu--slide-left div {
  color: #ffffff;
}
#search-button {
  font-size: large;
  background-color: transparent;
  border: 1px solid transparent;
}
#search-button img {
  height: 1.4em;
}
#search-area {
  background-color: rgba(100, 100, 100, 0.5);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 0;
  color: #ffffff;
}
#search-area:focus {
  outline: none;
  box-shadow: none;
}
#search-area:disabled {
  cursor: auto;
}
#recommendation-placeholder {
  padding-top: 1em;
}
#recommendation-placeholder div {
  padding: 0.5em 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.language-button {
  float: left;
  background: rgba(100, 100, 100, 0.5);
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 2px;
}
.language-button:focus {
  background-color: #000000;
}
#search-placeholder {
  padding-left: 0;
  padding-right: 0;
}
#language-bar {
  height: 4em;
}
.input-group-btn {
  background-color: rgba(100, 100, 100, 0.5);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.filter-list {
  font-size: 0.8em;
  list-style-type: none;
  padding-bottom: 2em;
  padding-left: 0;
}
.filter-list li {
  font-size: 1.2em;
  height: 4em;
  padding-top: 1em;
  cursor: pointer;
}
.selection-circle {
  display: inline-block;
  vertical-align: middle;
  border: 2px transparent solid;
  border-radius: 50%;
  height: 3em;
  width: 3em;
}
.selection-circle img {
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}
.selection-selected {
  border: 2px white solid;
}
.selection-text {
  padding-left: 1em;
}
.link-selected {
  border: 1px transparent solid;
  border-radius: 15px;
  background-color: #797979;
}
.link-selected {
  border: 1px transparent solid;
  border-radius: 15px;
  background-color: #797979;
}
#reset-filter {
  float: right;
  border-radius: 2px;
  font-size: 0.7em;
  background: rgba(100, 100, 100, 0.8);
  border: 1px solid transparent;
}
#logo-placeholder {
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 23%;
  width: 100%;
}
#logo-placeholder img {
  max-width: 100%;
}
div#ta-logo-placeholder {
  position: fixed;
  bottom: 0;
  height: 23%;
  width: 100%;
}
div#ta-logo-placeholder img {
  max-width: 100%;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #EEE;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (max-height: 1080px) {
  #logo-placeholder {
    display: none;
  }
  #map-canvas,
  .c-menu--slide-left {
    height: 100%;
  }
  aside.popup-content-company {
    height: 100%;
  }
  #text-analytics-video-modal {
    height: 100%;
  }
}
