# This workflow builds and tests a ref, on a combination of different architectures and standard libraries.
name: Build and Test
on:
  workflow_call:
    inputs:
      dev_image_tag:
        required: true
        type: string
        description: "Docker image tag of the development image"
      ref:
        type: string
        required: true
        description: "ref of the branch"

jobs:
  clean-build-and-test-linux:
    # Ensures that the build works from a clean build directory.
    name: "Clean build and tests"
    container:
      image: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}
      env:
        MOLD_JOBS: 1
      options: --user root
    timeout-minutes: 40
    runs-on: [ self-hosted, linux, Build, "${{matrix.arch}}" ]
    strategy:
      fail-fast: false
      matrix:
        arch: [ x64 ]
        stdlib: [ 'libcxx' ]
        build_type: [ 'Debug' ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Configure NebulaStream
        run: |
          rm -rf build || true
          cmake -GNinja -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DNES_LOG_LEVEL=DEBUG
      - name: Build NebulaStream
        run: cmake --build build -j -- -k 0
      - name: Run Tests
        run: ctest --test-dir build -j --output-on-failure --output-junit /junit.xml --timeout 600

  build-and-test-linux:
    name: "Build and tests: ${{matrix.arch}}-${{matrix.stdlib}}-${{matrix.build_type}}"
    container:
      image: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}
      volumes:
        - ccache:/ccache
      env:
        CCACHE_DIR: /ccache
        MOLD_JOBS: 1
      # TODO #401 Investigate rootless docker containers
      options: --user root
    timeout-minutes: 40
    runs-on: [ self-hosted, linux, Build, "${{matrix.arch}}" ]
    strategy:
      fail-fast: false
      matrix:
        arch: [ x64, arm64 ]
        stdlib: [ 'libstdcxx', 'libcxx' ]
        build_type: [ 'Debug', 'RelWithDebInfo' ]
        sanitizer: ['address', 'undefined', 'thread', 'none']
        exclude:
          - arch: arm64
        include:
          - arch: arm64
            sanitizer: 'none'
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Configure NebulaStream
        run: |
          cmake -GNinja -B build -DUSE_SANITIZER=${{ matrix.sanitizer }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DNES_LOG_LEVEL=DEBUG
      - name: Build NebulaStream
        run: cmake --build build -j -- -k 0
      - name: Run Tests
        # timeout of 600 seconds due to systest. Increase this number only if we encounter timeouts in our systests.
        run: ctest --test-dir build -j --output-on-failure --output-junit /junit.xml --timeout 600
      - name: Upload Test Summary
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && !github.event.act }}
        with:
          name: junit-${{ matrix.arch }}-${{ matrix.stdlib }}-${{ matrix.build_type }}.xml
          path: /junit.xml

  # We want to test if our cmake log level flag works correctly. Therefore, we need to build and run the tests with different log levels.
  # As we can not do this in a unit test (because the log level is set at compile time), we need to run the tests in a separate job.
  build-and-test-log-level:
    name: "Build and test log level: ${{matrix.arch}}-${{matrix.stdlib}}-${{matrix.build_type}}-log-level"
    container:
      image: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}
      volumes:
        - ccache:/ccache
      env:
        CCACHE_DIR: /ccache
        MOLD_JOBS: 1
      # TODO #401 Investigate rootless docker containers
      options: --user root
    timeout-minutes: 40
    runs-on: [ self-hosted, linux, Build, "${{matrix.arch}}" ]
    strategy:
      fail-fast: false
      matrix:
        # We only want to run the tests on x64, as the log level tests are not architecture dependent, and we have more x64 runners
        # We only want to run the tests with libcxx, as the log level tests are not standard library dependent, and we want to reduce the number of jobs
        arch: [ x64 ]
        stdlib: [ 'libcxx' ]
        build_type: [ 'Debug', 'RelWithDebInfo' ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Build and Run Log Level Tests
        run: |
          for LOG_LEVEL in TRACE DEBUG INFO WARN ERROR; do
            echo "Running tests with log level: $LOG_LEVEL"
            cmake -GNinja -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DNES_LOG_LEVEL=$LOG_LEVEL
            cmake --build build --target nes-common-tests -j -- -k 0
            ctest --test-dir build -j --output-on-failure --output-junit /junit.xml --timeout 600 -R "testLogLevel"
            cmake --build build --target clean
          done
      - name: Upload Test Summary
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && !github.event.act }}
        with:
          name: junit-${{ matrix.arch }}-${{ matrix.stdlib }}-${{ matrix.build_type }}-${{ matrix.log_level }}.xml
          path: /junit.xml

  build-without-tests:
    name: "Build with disabled tests: ${{matrix.arch}}-${{matrix.stdlib}}"
    container:
      image: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}
      volumes:
        - ccache:/ccache
      env:
        CCACHE_DIR: /ccache
        MOLD_JOBS: 1
      # TODO #401 Investigate rootless docker containers
      options: --user root
    timeout-minutes: 40
    runs-on: [ self-hosted, linux, Build, "${{matrix.arch}}" ]
    strategy:
      fail-fast: false
      matrix:
        arch: [ x64, arm64 ]
        stdlib: [ 'libcxx' ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Configure NebulaStream
        run: cmake -GNinja -B build -DNES_ENABLES_TESTS=0
      - name: Build NebulaStream
        run: cmake --build build -j -- -k 0
