name: Build and Test
description: |
  This workflow builds and tests a head_sha, on a combination of different architectures and standard libraries.
on:
  workflow_call:
    inputs:
      dev_image_tag:
        required: true
        type: string
        description: "Docker image tag of the development image"
      head_sha:
        type: string
        required: true
        description: "head_sha of the branch"

jobs:
  build-and-test-linux:
    name: "${{matrix.arch}}-${{matrix.stdlib}}-${{matrix.build_type}}-${{ matrix.sanitizer }} Test"
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        arch: [ arm64, x64 ]
        stdlib: [ 'libstdcxx', 'libcxx' ]
        # To reduce the load on our CI, we do not run all our tests with Benchmark.
        # The difference between Benchmark and Release is anyway that we disable any asserts (invariants or preconditions)
        build_type: [ 'Debug', 'RelWithDebInfo', 'Release' ]
        sanitizer: [ 'address', 'undefined', 'thread', 'none' ]
        include:
          - arch: arm64
            runner: [ "ubuntu-24.04-arm" ]
          - arch: x64
            runner: [ "ubuntu-24.04" ]
        exclude:
          # Due to limited capacity, we disable sanitizer and libstdc++ tests on arm machines
          - arch: arm64
            stdlib: 'libstdcxx'
          - arch: arm64
            sanitizer: 'address'
          - arch: arm64
            sanitizer: 'undefined'
          - arch: arm64
            sanitizer: 'thread'
          # TODO #808 Enable TSAN with libc++
          - stdlib: 'libcxx'
            sanitizer: 'thread'
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.head_sha }}
      - uses: ./.github/steps/prepare-github
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
          ccache_key: ${{ matrix.arch }}-${{ matrix.build_type }}-${{matrix.sanitizer}}-${{matrix.stdlib}}
      - uses: ./.github/steps/run-in-container
        name: CMake Build
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
          run: |
            source .github/.env/test-${{matrix.sanitizer}}.env
            cmake -GNinja -B build -DUSE_SANITIZER=${{ matrix.sanitizer }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DNES_LOG_LEVEL=DEBUG
            cmake --build build -j  -- -k 0
      - uses: ./.github/steps/run-in-container
        name: Run Tests
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
          run: |
            source .github/.env/test-${{matrix.sanitizer}}.env
            # timeout after 40 minutes. This timeout can be adjusted if it causes failures.
            ctest --test-dir build -j --output-on-failure --output-junit /junit.xml --timeout 2400 ${ADDTIONAL_CTEST_ARGS}
      - name: Upload Test Logs on Failure
        uses: actions/upload-artifact@v4
        # Upload all log and stats files if any of the tests has failed.
        if: ${{ failure() && !cancelled() && !github.event.act }}
        with:
          name: logs-${{ matrix.arch }}-${{ matrix.stdlib }}-${{ matrix.sanitizer }}-${{ matrix.build_type }}
          path: |
            build/**/*.log
            build/**/*.stats
      - name: Upload test results to Codecov
        if: ${{ !cancelled() && !github.event.act }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ matrix.arch }},${{ matrix.stdlib }},${{ matrix.sanitizer }},${{ matrix.build_type }}
          file: /junit.xml

  # We want to test if our cmake log level flag works correctly. Therefore, we need to build and run the tests with different log levels.
  # As we can not do this in a unit test (because the log level is set at compile time), we need to run the tests in a separate job.
  build-and-test-log-level:
    name: "${{matrix.arch}}-${{matrix.stdlib}}-${{matrix.build_type}} Log Test"
    timeout-minutes: 40
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        # We only want to run the tests on x64, as the log level tests are not architecture dependent, and we have more x64 runners
        # We only want to run the tests with libcxx, as the log level tests are not standard library dependent, and we want to reduce the number of jobs
        arch: [ x64 ]
        stdlib: [ 'libcxx' ]
        sanitizer: [ 'none' ]
        build_type: [ 'Debug', 'RelWithDebInfo', 'Release', 'Benchmark' ]
        include:
          - arch: x64
            runner: [ "ubuntu-24.04" ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.head_sha }}
      - uses: ./.github/steps/prepare-github
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
          ccache_key: ${{ matrix.arch }}-${{ matrix.build_type }}-${{matrix.sanitizer}}-${{matrix.stdlib}}
      - uses: ./.github/steps/run-in-container
        name: Run Log Level Test
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
          run: |
            for LOG_LEVEL in TRACE DEBUG INFO WARN ERROR LEVEL_NONE; do
              echo "Running tests with log level: $LOG_LEVEL"
              cmake -GNinja -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DNES_LOG_LEVEL=$LOG_LEVEL
              cmake --build build --target nes-common-tests -j -- -k 0
              ctest --test-dir build -j --output-on-failure --output-junit /junit.xml --timeout 600 -R "testLogLevel"
              cmake --build build --target clean
            done
      - name: Upload test results to Codecov
        if: ${{ !cancelled() && !github.event.act }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ matrix.arch }},${{ matrix.stdlib }},${{ matrix.sanitizer }},${{ matrix.build_type }},log-test
          file: /junit.xml

  clean-build-and-test-linux:
    # Ensures that the build works from a clean build directory.
    name: "Clean build and tests"
    container:
      image: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{ matrix.sanitizer }}
      env:
        MOLD_JOBS: 1
      options: --user root
    timeout-minutes: 40
    runs-on: [ self-hosted, linux, Build, "${{matrix.arch}}" ]
    strategy:
      fail-fast: false
      matrix:
        arch: [ x64 ]
        stdlib: [ 'libcxx' ]
        build_type: [ 'Debug' ]
        sanitizer: [ 'none' ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.head_sha }}
      - name: Configure NebulaStream
        run: |
          rm -rf build || true
          cmake -GNinja -B build -DUSE_SANITIZER=${{ matrix.sanitizer }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DNES_LOG_LEVEL=DEBUG
      - name: Build NebulaStream
        shell: bash
        run: |
          source .github/.env/test-${{matrix.sanitizer}}.env
          cmake --build build -j -- -k 0
      - name: Run Tests
        # timeout of 1200 seconds due to systest. Increase this number only if we encounter timeouts in our systests.
        run: ctest --test-dir build -j --output-on-failure --output-junit /junit.xml --timeout 1200
      - uses: actions/upload-artifact@v4
        # Upload all log and stat files if any of the tests has failed.
        name: Upload Test Logs on Failure
        if: ${{ failure() && !github.event.act }}
        with:
          name: logs-${{ matrix.arch }}-${{ matrix.stdlib }}-${{ matrix.build_type }}
          path: |
            build/**/*.log
            build/**/*.stats

  build-without-tests:
    name: "${{matrix.arch}}-${{matrix.stdlib}}-${{matrix.build_type}} No Test"
    timeout-minutes: 40
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        arch: [ arm64, x64 ]
        stdlib: [ 'libcxx', 'libstdcxx' ]
        sanitizer: [ 'none' ]
        build_type: [ 'Debug', 'Benchmark' ]
        include:
          - arch: arm64
            runner: [ "ubuntu-24.04-arm" ]
          - arch: x64
            runner: [ "ubuntu-24.04" ]
        exclude:
          - arch: 'arm64'
            stdlib: 'libstdcxx'
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.head_sha }}
      - uses: ./.github/steps/prepare-github
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
          ccache_key: ${{ matrix.arch }}-${{ matrix.build_type }}-${{matrix.sanitizer}}-${{matrix.stdlib}}
      - uses: ./.github/steps/run-in-container
        name: CMake Build
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
          run: |
            source .github/.env/test-${{matrix.sanitizer}}.env
            cmake -GNinja -B build -DNES_ENABLES_TESTS=0
            cmake --build build -j -- -k 0

  build-test-with-flags:
    name: "Test with ${{ matrix.additional_build_flags.name }}"
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        arch: [ x64 ]
        stdlib: [ 'libcxx' ]
        build_type: [ 'Debug' ]
        sanitizer: [ 'none' ]
        include:
          - arch: x64
            runner: [ "ubuntu-24.04" ]
        additional_build_flags:
          - flags: -DNES_DEBUG_TUPLE_BUFFER_LEAKS=ON
            name: tuple-buffer-leak
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.head_sha }}
      - uses: ./.github/steps/prepare-github
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
          ccache_key: ${{ matrix.arch }}-${{ matrix.build_type }}-${{matrix.sanitizer}}-${{matrix.stdlib}}
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - uses: ./.github/steps/run-in-container
        name: CMake Build
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
          run: |
            source .github/.env/test-${{matrix.sanitizer}}.env
            cmake -GNinja -B build -DUSE_SANITIZER=${{ matrix.sanitizer }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} ${{ matrix.additional_build_flags.flags }}
            cmake --build build -j  -- -k 0
      - uses: ./.github/steps/run-in-container
        name: Run Tests
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
          run: |
            source .github/.env/test-${{matrix.sanitizer}}.env
            # timeout after 40 minutes. This timeout can be adjusted if it causes failures.
            ctest --test-dir build -j --output-on-failure --output-junit /junit.xml --timeout 2400 ${ADDTIONAL_CTEST_ARGS}
      - name: Upload Test Logs on Failure
        uses: actions/upload-artifact@v4
        # Upload all log and stats files if any of the tests has failed.
        if: ${{ failure() && !github.event.act }}
        with:
          name: logs-${{ matrix.arch }}-${{ matrix.stdlib }}-${{ matrix.sanitizer }}-${{ matrix.build_type }}-${{ matrix.additional_build_flags.name }}
          path: |
            build/**/*.log
            build/**/*.stats
      - name: Upload test results to Codecov
        if: ${{ !cancelled() && !github.event.act }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ matrix.arch }},${{ matrix.stdlib }},${{ matrix.sanitizer }},${{ matrix.build_type }}-${{ matrix.additional_build_flags.name }}
          file: /junit.xml
      - name: Upload Test Summary
        uses: actions/upload-artifact@v4
        if: ${{ failure() && !cancelled() && !github.event.act }}
        with:
          name: junit-${{ matrix.arch }}-${{ matrix.stdlib }}-${{ matrix.sanitizer }}-${{ matrix.build_type }}-${{ matrix.additional_build_flags.name }}.xml
          path: /junit.xml
