name: Clang-Tidy
description: |
  This workflow computes a complete clang-tidy analysis based on the input head_sha.
  This workflow output a list of clang-tidy warnings and their frequency and fails if we encounter any clang-tidy
  warnings which have been flagged as errors.
on:
  workflow_call:
    inputs:
      dev_image_tag:
        required: true
        type: string
        description: "Docker image tag of the development image"
      head_sha:
        required: true
        description: "target commit"
        type: string

jobs:
  clang-tidy-full:
    # Due to limited ARM server capacity we only run on x64
    runs-on: [ self-hosted, linux, Build, x64 ]
    container:
      # TODO #401 Investigate rootless docker containers
      options: --user root
      image: nebulastream/nes-ci:${{ inputs.dev_image_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.head_sha }}
      - name: Configure CMake
        run: cmake -B build
      - name: Build to generate required code (e.g. grpc, ANTLR headers)
        run: cmake --build build
      - name: Run clang-tidy
        id: run-clang-tidy
        # we explicitely set bash to have pipefail
        # (c.f. https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#exit-codes-and-error-action-preference)
        shell: bash
        # do not run clang-tidy on generated files, i.e. files from dirs matching .*_generated_src/
        # (c.f. https://stackoverflow.com/a/1240365 for regex explanation)
        run: run-clang-tidy-19 -p build '^(?!.*_generated_src/).+$' 2> /dev/null | tee clang-tidy.log
      - name: show errors
        if: ${{ failure() && steps.run-clang-tidy.conclusion == 'failure' }}
        run: |
          echo "# clang-tidy errors" >> $GITHUB_STEP_SUMMARY
          echo       >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

          cat clang-tidy.log | grep ": error:" | sort | uniq >> $GITHUB_STEP_SUMMARY

          echo '```' >> $GITHUB_STEP_SUMMARY
      - name: summarize
        if: ${{ !cancelled() }}
        run: |
          python3 scripts/clang-tidy-summary.py .clang-tidy clang-tidy.log --summary-json clang-tidy-summary.json >> $GITHUB_STEP_SUMMARY
      - name: Upload Test Summary
        uses: actions/upload-artifact@v4
        if: ${{ failure() && !cancelled() }}
        with:
          name: clang-tidy-logs
          path: clang-tidy*
