name: Clang-Tidy

on:
  workflow_dispatch:
    inputs:
      branch:
        default: "main"
        description: "Target Branch"
        required: false
  schedule:
    - cron: '30 4 * * *' # gets executed every night at 6:30 AM CEST

jobs:
  get-dev-images:
    uses: ./.github/workflows/get_dev_images.yml
    secrets: inherit
    with:
      ref: ${{ inputs.branch || 'main' }}

  clang-tidy-full:
    needs: [ get-dev-images ]
    runs-on: [ self-hosted, linux, Build ]
    container:
      image: nebulastream/nes-development:${{ needs.get-dev-images.outputs.image-tag }}
      # TODO #401 Investigate rootless docker containers
      options: --user root
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch || 'main' }}
      - name: Configure CMake
        run: cmake -B build
      - name: Generate grpc headers
        run: cmake --build build --target nes-grpc
      - name: Run clang-tidy
        id: run-clang-tidy
        run: run-clang-tidy-18 -p build 2> /dev/null > clang-tidy.log
      - name: show errors
        if: ${{ failure() && steps.run-clang-tidy.conclusion == 'failure' }}
        run: |
          echo "# clang-tidy errors" >> $GITHUB_STEP_SUMMARY
          echo       >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

          cat clang-tidy.log | grep ": error:" >> $GITHUB_STEP_SUMMARY

          echo '```' >> $GITHUB_STEP_SUMMARY
      - name: summarize
        if: ${{ !failure() && ! cancelled() }}
        run: |
          cat clang-tidy.log \
            | grep "^\/.*\[[^ ]*\]$"   \
            | sed "s|\([^ ]*\):.*\[\([^ ]*\)\]$|\1 \2|" \
            | awk '{ split($2, arr, ","); for (a in arr) { print $1, arr[a] } }' > clang-tidy-violations.txt

          echo "# clang-tidy warning occurences" >> $GITHUB_STEP_SUMMARY
          echo       >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat clang-tidy-violations.txt | cut -d " " -f 2 | sort | uniq -c | sort -n >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
      - name: Upload Test Summary
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: clang-tidy-logs
          path: clang-tidy*
