name: NES Docker Image On Demand
description: |
  This workflow is triggered manually by the user to build docker images for the executable image.
  The user can specify the branch for which the docker image needs to be built.
  The docker image is built for the specified branch and pushed to the docker hub.


on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch (or head_sha) to build docker executable images for'
        required: true
        default: 'main'

jobs:
  create_image:
    uses: ./.github/workflows/create_release_image.yml
    secrets: inherit
    with:
      head_sha: ${{ inputs.branch }}
      dockerhub-tag: ${{ inputs.branch }}
