name: NES CI

on: [push, pull_request]
jobs:
  build:
    runs-on: self-hosted    
    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      run: |
          docker run -v $GITHUB_WORKSPACE/iotdb:/iotdb --entrypoint /iotdb/docker/scripts/entrypoint-nes-build.sh nebulastream/nes-build-image:testing
    - name: Notify Slack
      uses: 8398a7/action-slack@v2
      with:
          status: ${{ job.status }}
          author_name: ${{ github.actor }}
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      if: always()
