name: Large Tests Random Worker Config
description: This workflow builds and tests a head_sha over our large tests with random worker configurations
on:
  workflow_call:
    inputs:
      dev_image_tag:
        required: true
        type: string
        description: "Docker image tag of the development image"
      head_sha:
        type: string
        required: true
        description: "head_sha of the branch"
jobs:
  create_random_worker_config:
    runs-on: [ self-hosted, linux, Build ]
    outputs:
      number_of_worker_threads: ${{ steps.random_variables.outputs.number_of_worker_threads }}
      buffer_size: ${{ steps.random_variables.outputs.buffer_size }}
      page_size: ${{ steps.random_variables.outputs.page_size }}
      number_of_partitions: ${{ steps.random_variables.outputs.number_of_partitions }}
    steps:
      - name: Create random values for the worker config
        id: random_variables
        shell: bash
        run: |
          # Function to generate a random power of two between 2^min_exp and 2^max_exp
          random_power_of_two() {
            min_exp=$1
            max_exp=$2
            exponent=$(( min_exp + RANDOM % (max_exp - min_exp + 1)))
            let result=2**$exponent
            echo $result
          }
          
          # Generate a random worker configuration
          NUMBER_OF_WORKER_THREADS=$((RANDOM % 8 + 2))
          BUFFER_SIZE="$(random_power_of_two 10 15)"
          PAGE_SIZE=$(random_power_of_two 10 15)
          NUMBER_OF_PARTITIONS=$(random_power_of_two 3 8)
          echo "NUMBER_OF_WORKER_THREADS = $NUMBER_OF_WORKER_THREADS"
          echo "BUFFER_SIZE = $BUFFER_SIZE"
          echo "PAGE_SIZE = $PAGE_SIZE"
          echo "NUMBER_OF_PARTITIONS = $NUMBER_OF_PARTITIONS"
          
          # Storing the random values in the output of this step
          echo "number_of_worker_threads=$NUMBER_OF_WORKER_THREADS" >> $GITHUB_OUTPUT
          echo "buffer_size=$BUFFER_SIZE" >> $GITHUB_OUTPUT
          echo "page_size=$PAGE_SIZE" >> $GITHUB_OUTPUT
          echo "number_of_partitions=$NUMBER_OF_PARTITIONS" >> $GITHUB_OUTPUT

  run_large_scale_tests:
    name: Run Large Scale Tests Random Worker Config
    needs: create_random_worker_config
    secrets: inherit
    uses: ./.github/workflows/large_test.yml
    with:
      head_sha: ${{ inputs.head_sha }}
      dev_image_tag: ${{ inputs.dev_image_tag }}
      number_of_worker_threads: ${{ needs.create_random_worker_config.outputs.number_of_worker_threads }}
      buffer_size: ${{ needs.create_random_worker_config.outputs.buffer_size }}
      page_size: ${{ needs.create_random_worker_config.outputs.page_size }}
      number_of_partitions: ${{ needs.create_random_worker_config.outputs.number_of_partitions }}
