name: NES Nightly

# This workflow is triggered every night at 2:30 AM UTC.
# This is a good way to ensure that the main branch is always in a good state.
# For now, this workflow file runs the same tests as `pr.yml` and then creates a docker image nes-executable-image:nightly, if the test pass.
# For pushing an image to the docker hub, we build debian packages (nes-amd64.deb and nes-arm64.deb) and then use them to build the docker image.
# We will add long-running test for stability and performance checks in the future.

on:
  workflow_dispatch:
  schedule:
    - cron: '30 2 * * *' # gets executed every night at 4:30 AM CEST

jobs:
  # We call the pr.yml workflow to run the same tests as for a PR.
  pr-tests:
    uses: ./.github/workflows/pr.yml
    secrets: inherit

  # This is a placeholder for adding long-running tests in the future. Currently, it simply prints a message.
  long-running-tests:
    needs: [ pr-tests ]
    runs-on: [ self-hosted, linux, X64, Build ]
    steps:
      - name: Print Placeholder Message
        run: echo "Long running tests will be added in the future."

  create-nightly-image:
    if: ${{ !github.event.act }}
    uses: ./.github/workflows/create_release_image.yml
    secrets: inherit
    with:
      ref: "main"
      dockerhub-tag: "nightly"
