name: NES Nightly

# This workflow is triggered every night at 2:30 AM UTC.
# This is a good way to ensure that the main branch is always in a good state.
# For now, this workflow file runs the same tests as `pr.yml` and then creates a docker image nes-executable-image:nightly, if the test pass.
# For pushing an image to the docker hub, we build debian packages (nes-amd64.deb and nes-arm64.deb) and then use them to build the docker image.
# We will add long-running test for stability and performance checks in the future.

on:
  workflow_dispatch:
    inputs:
      fuzzer:
        required: true
        default: 'main'
        type: choice
        options:
          - snw-proto-fuzz
          - snw-strict-fuzz
          - snw-text-fuzz
          - sql-parser-simple-fuzz
        description: "which branch/ref to use for running the nightly job"
      duration_in_min:
        default: 10
        type: number
  schedule:
    - cron: '30 2 * * *' # gets executed every night at 4:30 AM CEST

jobs:
  get-dev-images:
    uses: ./.github/workflows/get_dev_images.yml
    secrets: inherit
    with:
      ref: ${{ github.sha }}
      branch-name: ${{ github.ref_name }}

  run-fuzzer:
    name: "Fuzz: ${{matrix.arch}}-${{matrix.stdlib}}-${{matrix.build_type}}-${{ matrix.sanitizer }}"
    needs: [ get-dev-images ]
    container:
      image: nebulastream/nes-development:${{ needs.get-dev-images.outputs.image-tag }}-${{ matrix.stdlib }}-${{matrix.sanitizer}}
      volumes:
        - ccache:/ccache
        - test-file-cache:/test-file-cache
      env:
        CCACHE_DIR: /ccache
        MOLD_JOBS: 1
      # TODO #401 Investigate rootless docker containers
      options: --user root
    runs-on: [ self-hosted, linux, Build, "${{matrix.arch}}" ]
    strategy:
      fail-fast: false
      matrix:
        arch: [ x64 ]
        stdlib: [ 'libstdcxx', 'libcxx' ]
        # To reduce the load on our CI, we do not run all our tests with Benchmark.
        # The difference between Benchmark and Release is anyway that we disable any asserts (invariants or preconditions)
        build_type: [ 'RelWithDebInfo' ]
        sanitizer: [ none, address, undefined, thread ]
        exclude:
          # Due to limited capacity, we disable sanitizer and libstdc++ tests on arm machines
          - arch: arm64
            stdlib: 'libstdcxx'
          - arch: arm64
            sanitizer: 'address'
          - arch: arm64
            sanitizer: 'undefined'
          - arch: arm64
            sanitizer: 'thread'
          # TODO #808 Enable TSAN with libc++
          - stdlib: 'libcxx'
            sanitizer: 'thread'
    steps:
      - uses: actions/checkout@v4
      - name: configure
        run: |
          cmake -GNinja -B build -DExternalData_OBJECT_STORES=/test-file-cache -DUSE_SANITIZER=${{ matrix.sanitizer }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DNES_LOG_LEVEL=WARN
      - name: build
        shell: bash
        run: |
          cmake --build build --target ${{ inputs.fuzzer }} -j -- -k 0
      - name: setup
        run: |
          cd build
          echo fuzzer="$(pwd)/$(find -name ${{ inputs.fuzzer }} -type f)" >> $GITHUB_ENV
          mkdir /corpus_wip
          mkdir -p /res/corpus_fin
          mkdir -p /res/fails
      - name: fuzz ${{ inputs.duration_in_min }} min
        shell: bash
        timeout-minutes: ${{ fromJson(inputs.duration_in_min) }}
        continue-on-error: true
        run: |
          cd /res/fails
          $fuzzer -jobs=100000000000 /corpus_wip > /dev/null 2> /dev/null
      - name: stop fuzzers
        run: |
          pkill ${{ inputs.fuzzer }}
      - name: minimize corpus
        run: |
          $fuzzer -merge=1 /res/corpus_fin /corpus_wip
          find /res/fails -name "*.log" -delete
          find /res/fails -name "Engine*" -delete
      # necessary to prevent upload-artifact breakage
      - name: cull garbage files
        run: |
          find /res/fails -name "*.log" -delete
          find /res/fails -name "Engine*" -delete
      - name: Upload Corpus
        uses: actions/upload-artifact@v4
        with:
          name: corpus-${{ inputs.fuzzer }}-${{ inputs.duration_in_min }}-${{ matrix.arch }}-${{ matrix.stdlib }}-${{ matrix.build_type }}-${{ matrix.sanitizer }}
          path: |
            /res/*
            !/res/fails/*.log
            !/res/fails/Engine*
