name: NES PR CI Merge
on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

jobs:
  check-and-update-development-images:
    # This job is executed when a PR is merged into the main branch.
    # If changes to the dependencies are detected we update the `latest`
    # tag of our development images to the docker images built with the
    # updated dependencies.
    runs-on: [ self-hosted, linux, Build ]
    if: github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            vcpkg/**
            docker/dependency/**
      - name: Login to Docker Hub
        if: ${{ steps.changed-files.outputs.any_modified == 'true' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER_NAME }}
          password: ${{ secrets.DOCKER_SECRET }}
      - name: Set up Docker Buildx
        if: ${{ steps.changed-files.outputs.any_modified == 'true' }}
        uses: docker/setup-buildx-action@v3
      - name: Choose Image Tag for CI
        id: image-tag
        if: ${{ steps.changed-files.outputs.any_modified == 'true' }}
        run: |
          docker buildx imagetools create -t nebulastream/nes-development-base:latest nebulastream/nes-development-base:${{ github.event.pull_request.head.ref }}          
          docker buildx imagetools create -t nebulastream/nes-development-dependency:latest nebulastream/nes-development-dependency:${{ github.event.pull_request.head.ref }}          
          docker buildx imagetools create -t nebulastream/nes-development:latest nebulastream/nes-development:${{ github.event.pull_request.head.ref }}          
          
          # Arm64 Cache Images
          docker buildx imagetools create -t nebulastream/nes-development-base-cache:latest-arm64 nebulastream/nes-development-base-cache:${{ github.event.pull_request.head.ref }}-arm64          
          docker buildx imagetools create -t nebulastream/nes-development-dependency-cache:latest-arm64 nebulastream/nes-development-dependency-cache:${{ github.event.pull_request.head.ref }}-arm64         
          docker buildx imagetools create -t nebulastream/nes-development-cache:latest-arm64 nebulastream/nes-development-cache:${{ github.event.pull_request.head.ref }}-arm64           
          
          # x64 Cache Images
          docker buildx imagetools create -t nebulastream/nes-development-base-cache:latest-x64 nebulastream/nes-development-base-cache:${{ github.event.pull_request.head.ref }}-x64          
          docker buildx imagetools create -t nebulastream/nes-development-dependency-cache:latest-x64 nebulastream/nes-development-dependency-cache:${{ github.event.pull_request.head.ref }}-x64          
          docker buildx imagetools create -t nebulastream/nes-development-cache:latest-x64 nebulastream/nes-development-cache:${{ github.event.pull_request.head.ref }}-x64          
