name: NES PR CI Merge
on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

jobs:
  detect-docs-changes:
    runs-on: ubuntu-22.04
    outputs:
      docs_changed: ${{ steps.changed.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: changed
        uses: tj-actions/changed-files@v46.0.1
        with:
          files: |
            docs/website/**

  build-and-deploy-docs:
    needs: detect-docs-changes
    if: ${{ github.event.pull_request.merged == true && needs.detect-docs-changes.outputs.docs_changed == 'true' }}
    uses: ./.github/workflows/docs_website_sync.yml
    with:
      deploy: true
    secrets: inherit

  get-dev-images:
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/get_dev_images.yml
    secrets: inherit
    with:
      branch-name: ${{ github.head_ref }}
      head_sha: ${{ github.event.pull_request.head.sha }}

  run_code_coverage:
    if: github.event.pull_request.merged == true
    needs: [ get-dev-images ]
    name: "Run Code Coverage"
    uses: ./.github/workflows/code_coverage.yml
    with:
      head_sha: ${{ github.event.pull_request.merge_commit_sha }}
      dev_image_tag: ${{ needs.get-dev-images.outputs.image-tag }}
      branch-name: 'main'
    secrets: inherit

  check-and-update-development-images:
    # This job is executed when a PR is merged into the main branch.
    # If changes to the dependencies are detected we update the `latest`
    # tag of our development images to the docker images built with the
    # updated dependencies.
    runs-on: [ self-hosted, linux, Build ]
    needs: [ get-dev-images ]
    if: ${{ github.event.pull_request.merged == true && needs.get-dev-images.outputs.build-dependency == true }}
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            vcpkg/**
            docker/dependency/**
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER_NAME }}
          password: ${{ secrets.DOCKER_SECRET }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Retag Base Image
        run: |
          docker buildx imagetools create -t nebulastream/nes-development-base:latest \
            nebulastream/nes-development-base:${{ needs.get-dev-images.outputs.image-tag }}

      - name: Retag Specialized Images
        run: |
          # Iterate through each image type
          for image_tag in development-dependency development ci; do
            docker buildx imagetools create -t nebulastream/nes-$image_tag:latest \
              nebulastream/nes-$image_tag:${{ needs.get-dev-images.outputs.image-tag }}
          
            docker buildx imagetools create -t nebulastream/nes-$image_tag:latest-libcxx \
              nebulastream/nes-$image_tag:${{ needs.get-dev-images.outputs.image-tag }}-libcxx-none
          
            for stdlib in libcxx libstdcxx; do
              for sanitizer in none address thread undefined; do
                docker buildx imagetools create -t nebulastream/nes-$image_tag:latest-$stdlib-$sanitizer \
                  nebulastream/nes-$image_tag:${{ needs.get-dev-images.outputs.image-tag }}-$stdlib-$sanitizer
          
                docker buildx imagetools create -t nebulastream/nes-$image_tag:latest-$sanitizer \
                  nebulastream/nes-$image_tag:${{ needs.get-dev-images.outputs.image-tag }}-$sanitizer
          
                docker buildx imagetools create -t nebulastream/nes-$image_tag:latest-$stdlib-$sanitizer \
                  nebulastream/nes-$image_tag:${{ needs.get-dev-images.outputs.image-tag }}-$stdlib-$sanitizer
              done
            done
          done
          
          docker buildx imagetools create -t nebulastream/nes-benchmark:latest \
            nebulastream/nes-benchmark:${{ needs.get-dev-images.outputs.image-tag }}

      - name: Update Cache Images
        run: |
          for image_tag in development-dependency development; do
            for arch in x64 arm64; do
              for stdlib in libcxx libstdcxx; do
                if [[ "$arch" == "arm64" && "$stdlib" == "libstdcxx" ]]; then
                  continue
                fi
                for sanitizer in none address thread undefined; do
                  docker buildx imagetools create -t nebulastream/nes-$image_tag-cache:latest-$arch-$stdlib-$sanitizer \
                    nebulastream/nes-$image_tag-cache:${{ github.head_ref }}-$arch-$stdlib-$sanitizer
                done
              done
            done
          done
