name: NES PR CI Merge
on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

jobs:
  check-and-update-development-images:
    # This job is executed when a PR is merged into the main branch.
    # If changes to the dependencies are detected we update the `latest`
    # tag of our development images to the docker images built with the
    # updated dependencies.
    runs-on: [ self-hosted, linux, Build ]
    if: github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: |
            vcpkg/**
            docker/dependency/**
      - name: Login to Docker Hub
        if: ${{ steps.changed-files.outputs.any_modified == 'true' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER_NAME }}
          password: ${{ secrets.DOCKER_SECRET }}
      - name: Set up Docker Buildx
        if: ${{ steps.changed-files.outputs.any_modified == 'true' }}
        uses: docker/setup-buildx-action@v3
      - name: Choose Image Tag for CI
        id: image-tag
        if: ${{ steps.changed-files.outputs.any_modified == 'true' }}
        run: |
          docker buildx imagetools create -t nebulastream/nes-development-base:latest nebulastream/nes-development-base:${{ github.head_ref }}
          docker buildx imagetools create -t nebulastream/nes-development-dependency:latest nebulastream/nes-development-dependency:${{ github.head_ref }}
          docker buildx imagetools create -t nebulastream/nes-development-dependency:latest-libstdcxx nebulastream/nes-development-dependency:${{ github.head_ref }}-libstdcxx
          docker buildx imagetools create -t nebulastream/nes-development:latest nebulastream/nes-development:${{ github.head_ref }}
          docker buildx imagetools create -t nebulastream/nes-development:latest-libstdcxx nebulastream/nes-development:${{ github.head_ref }}-libstdcxx
# Sanitized Development Images.
          docker buildx imagetools create -t nebulastream/nes-development:latest-libcxx-Thread nebulastream/nes-development:${{ github.head_ref }}-libcxx-Thread
          docker buildx imagetools create -t nebulastream/nes-development:latest-libcxx-Address nebulastream/nes-development:${{ github.head_ref }}-libcxx-Address
          docker buildx imagetools create -t nebulastream/nes-development:latest-libcxx-Undefined nebulastream/nes-development:${{ github.head_ref }}-libcxx-Undefined
          
          docker buildx imagetools create -t nebulastream/nes-development:latest-libstdcxx-Thread nebulastream/nes-development:${{ github.head_ref }}-libstdcxx-Thread
          docker buildx imagetools create -t nebulastream/nes-development:latest-libstdcxx-Address nebulastream/nes-development:${{ github.head_ref }}-libstdcxx-Address
          docker buildx imagetools create -t nebulastream/nes-development:latest-libstdcxx-Undefined nebulastream/nes-development:${{ github.head_ref }}-libstdcxx-Undefined
          # Arm64 Cache Images
          docker buildx imagetools create -t nebulastream/nes-development-base-cache:latest-arm64 nebulastream/nes-development-base-cache:${{ github.head_ref }}-arm64
          docker buildx imagetools create -t nebulastream/nes-development-dependency-cache:latest-arm64 nebulastream/nes-development-dependency-cache:${{ github.head_ref }}-arm64-libcxx
          docker buildx imagetools create -t nebulastream/nes-development-dependency-cache:latest-arm64-libstdcxx nebulastream/nes-development-dependency-cache:${{ github.head_ref }}-arm64-libstdcxx
          docker buildx imagetools create -t nebulastream/nes-development-cache:latest-arm64 nebulastream/nes-development-cache:${{ github.head_ref }}-arm64-libcxx
          docker buildx imagetools create -t nebulastream/nes-development-cache:latest-arm64-libstdcxx nebulastream/nes-development-cache:${{ github.head_ref }}-arm64-libstdcxx

          # x64 Cache Images
          docker buildx imagetools create -t nebulastream/nes-development-base-cache:latest-x64 nebulastream/nes-development-base-cache:${{ github.head_ref }}-x64
          docker buildx imagetools create -t nebulastream/nes-development-dependency-cache:latest-x64 nebulastream/nes-development-dependency-cache:${{ github.head_ref }}-x64-libcxx
          docker buildx imagetools create -t nebulastream/nes-development-dependency-cache:latest-x64-libstdcxx nebulastream/nes-development-dependency-cache:${{ github.head_ref }}-x64-libstdcxx
          docker buildx imagetools create -t nebulastream/nes-development-cache:latest-x64 nebulastream/nes-development-cache:${{ github.head_ref }}-x64-libcxx
          docker buildx imagetools create -t nebulastream/nes-development-cache:latest-x64-libstdcxx nebulastream/nes-development-cache:${{ github.head_ref }}-x64-libstdcxx
