name: NES PR CI

# The following pipeline is meant to run for every PR.
# It will also apply the format check. If these steps are successful, it will try to build the PR and run the tests.
# If this pr is called with act, it has to be used with a custom event.json and called via `act -e event.json`.
# Otherwise, we are not running the job, as mentioned: https://github.com/nektos/act/issues/720
on:
  pull_request:
    types: [ synchronize, opened, reopened ]

# cancel previous runs of same PR / branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-dev-images-for-base-branch:
    uses: ./.github/workflows/get_dev_images.yml
    secrets: inherit
    with:
      ref: ${{ github.event.pull_request.base.sha }}

  get-dev-images:
    uses: ./.github/workflows/get_dev_images.yml
    secrets: inherit
    with:
      branch-name: ${{ github.head_ref }}
      ref: ${{ github.event.pull_request.head.sha }}

  check-format:
    needs: [ get-dev-images ]
    name: "Run build and test"
    uses: ./.github/workflows/format.yml
    with:
      head_sha: ${{ github.event.pull_request.head.sha }}
      dev_image_tag: ${{ needs.get-dev-images.outputs.image-tag }}
      number_of_commits: ${{ github.event.pull_request.commits }}

  build-and-test:
    needs: [ get-dev-images ]
    name: "Run build and test"
    uses: ./.github/workflows/build_and_test.yml
    with:
      dev_image_tag: ${{ needs.get-dev-images.outputs.image-tag }}
      ref: ${{ github.event.pull_request.head.ref }}

  large-tests:
    needs: [ get-dev-images ]
    name: "Run large scale tests"
    uses: ./.github/workflows/large_test.yml
    with:
      dev_image_tag: ${{ needs.get-dev-images.outputs.image-tag }}
      ref: ${{ github.event.pull_request.head.ref }}

  clang-tidy-report:
    needs: [ get-dev-images ]
    name: "Run clang tidy report"
    uses: ./.github/workflows/clang_tidy_diff.yml
    with:
      head_sha: ${{ github.event.pull_request.head.sha }}
      base_sha: ${{ github.event.pull_request.base.sha }}
      dev_image_tag: ${{ needs.get-dev-images.outputs.image-tag }}
      number_of_commits: ${{ github.event.pull_request.commits }}

  run_code_coverage:
    needs: [ get-dev-images, get-dev-images-for-base-branch ]
    name: "Run Code Coverage"
    uses: ./.github/workflows/code_coverage.yml
    with:
      head_sha: ${{ github.event.pull_request.head.sha }}
      base_sha: ${{ github.event.pull_request.base.sha }}
      dev_image_tag: ${{ needs.get-dev-images.outputs.image-tag }}
      base_dev_image_tag: ${{ needs.get-dev-images-for-base-branch.outputs.image-tag }}
      number_of_commits: ${{ github.event.pull_request.commits }}
    secrets: inherit

  run_endless_mode:
    needs: [ get-dev-images ]
    name: "Run Endless Mode"
    uses: ./.github/workflows/endless-mode.yml
    with:
      dev_image_tag: ${{ needs.get-dev-images.outputs.image-tag }}
      ref: ${{ github.event.pull_request.head.ref }}

  branch-release-image:
    needs: [ get-dev-images ]
    name: "Branch docker images"
    secrets: inherit
    uses: ./.github/workflows/create_release_image.yml
    with:
      ref: ${{ github.head_ref }}
      dockerhub-tag: ${{ github.head_ref }}
      dev_image_tag: ${{needs.get-dev-images.outputs.image-tag}}
